@charset "UTF-8";
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  margin: .67em 0;
  font-size: 2em; }

mark {
  color: #000;
  background: #ff0; }

small {
  font-size: 80%; }

sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

input {
  line-height: normal; }
  input::-moz-focus-inner {
    padding: 0;
    border: 0; }
  input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="search"] {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0; }

legend {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  padding: 0; }

@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
    *:before, *:after {
      color: #000 !important;
      text-shadow: none !important;
      background: transparent !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important; }
  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr {
    page-break-inside: avoid; }
  img {
    page-break-inside: avoid;
    max-width: 100% !important; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; }
  .navbar {
    display: none; }
  .btn > .caret, .dropup > .btn > .caret {
    border-top-color: #000 !important; }
  .label {
    border: 1px solid #000; }
  .table {
    border-collapse: collapse !important; }
    .table td, .table th {
      background-color: #fff !important; }
  .table-bordered th, .table-bordered td {
    border: 1px solid #ddd !important; } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }
  a:hover {
    color: #23527c;
    text-decoration: underline; }
  a:focus {
    color: #23527c;
    text-decoration: underline;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee; }

[role="button"] {
  cursor: pointer; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777; }

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px; }

h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {
  font-size: 65%; }

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px; }

h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small, h4 .small, .h4 .small, h5 .small, .h5 .small, h6 .small, .h6 .small {
  font-size: 75%; }

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 18px; }

h5, .h5 {
  font-size: 14px; }

h6, .h6 {
  font-size: 12px; }

p {
  margin: 0 0 10px; }

small, .small {
  font-size: 85%; }

mark, .mark {
  padding: .2em;
  background-color: #fcf8e3; }

ul, ol {
  margin-top: 0;
  margin-bottom: 10px; }

ul ul, ol ul, ul ol, ol ol {
  margin-bottom: 0; }

dl {
  margin-top: 0;
  margin-bottom: 20px; }

dt, dd {
  line-height: 1.42857143; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

abbr[title], abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee; }
  blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child {
    margin-bottom: 0; }
  blockquote footer, blockquote small, blockquote .small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777; }
  blockquote footer:before, blockquote small:before, blockquote .small:before {
    content: '\2014 \00A0'; }

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143; }

code, kbd, pre, samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25); }
  kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    -webkit-box-shadow: none;
    box-shadow: none; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
          border-radius: 4px; }
  pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    -webkit-border-radius: 0;
            border-radius: 0; }

table {
  background-color: transparent; }

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left; }

th {
  text-align: left; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }

input[type="search"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input[type="radio"], input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal; }

input[type="file"] {
  display: block; }

input[type="range"] {
  display: block;
  width: 100%; }

select[multiple], select[size] {
  height: auto; }

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555; }

input[type="search"] {
  -webkit-appearance: none; }

input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"].disabled, input[type="checkbox"].disabled {
  cursor: not-allowed; }

fieldset[disabled] input[type="radio"], fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed; }

.nav > li {
  position: relative;
  display: block; }
  .nav > li > a {
    position: relative;
    display: block; }
    .nav > li > a:hover, .nav > li > a:focus {
      text-decoration: none;
      background-color: #eee; }
  .nav > li.disabled > a {
    color: #777; }
    .nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
      color: #777;
      text-decoration: none;
      cursor: not-allowed;
      background-color: transparent; }
  .nav > li > a > img {
    max-width: none; }

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5; }

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0; }

.clearfix:before, .clearfix:after {
  display: table;
  content: " "; }

.dl-horizontal dd:before, .dl-horizontal dd:after {
  display: table;
  content: " "; }

.container:before, .container:after {
  display: table;
  content: " "; }

.container-fluid:before, .container-fluid:after {
  display: table;
  content: " "; }

.row:before, .row:after {
  display: table;
  content: " "; }

.form-horizontal .form-group:before, .form-horizontal .form-group:after {
  display: table;
  content: " "; }

.btn-toolbar:before, .btn-toolbar:after {
  display: table;
  content: " "; }

.btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after {
  display: table;
  content: " "; }

.nav:before, .nav:after {
  display: table;
  content: " "; }

.navbar:before, .navbar:after {
  display: table;
  content: " "; }

.navbar-header:before, .navbar-header:after {
  display: table;
  content: " "; }

.navbar-collapse:before, .navbar-collapse:after {
  display: table;
  content: " "; }

.pager:before, .pager:after {
  display: table;
  content: " "; }

.panel-body:before, .panel-body:after {
  display: table;
  content: " "; }

.modal-header:before, .modal-header:after {
  display: table;
  content: " "; }

.modal-footer:before, .modal-footer:after {
  display: table;
  content: " "; }

.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-header:after, .modal-footer:after {
  clear: both; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }

*::-webkit-input-placeholder {
  color: #a7a4a4;
  opacity: 1; }

*:-moz-placeholder {
  color: #a7a4a4;
  opacity: 1; }

*::-moz-placeholder {
  color: #a7a4a4;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #a7a4a4;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #1a1b1b; }

body input:required:valid,
body textarea:required:valid {
  color: #1a1b1b; }

html,
body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "Montserrat-Regular", sans-serif; }

.parent {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  overflow: hidden; }

.parent img {
  width: 100%;
  display: block;
  background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7); }

.navbar,
.sect_1,
.about-me,
#social,
#copyrights {
  overflow: hidden; }

.navbar-default {
  border-color: transparent;
  background-color: #7f7f7f; }
  .navbar-default .navbar-toggle {
    background-color: #ccc; }
  .navbar-default .navbar-brand {
    color: #1abc9c; }
    .navbar-default .navbar-brand:hover {
      color: #1abc9c; }
  .navbar-default .navbar-nav > .active > a {
    color: #1abc9c;
    background-color: transparent; }
    .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
      color: #1abc9c;
      background-color: transparent; }
  .navbar-default .navbar-nav > li > a {
    color: #fff; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #1abc9c; }

.sect_1 {
  padding-top: 70px; }

.block-title {
  text-transform: uppercase; }

.block-img {
  position: relative;
  margin-left: -20px;
  margin-right: -50px;
  margin-bottom: 40px;
  width: 104%;
  overflow: hidden; }

.block-item {
  padding: 0 0 10px;
  margin: 0 20px 0 20px;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .block-item:hover {
    -webkit-box-shadow: 0 6px 29px rgba(147, 147, 147, 0.72);
    box-shadow: 0 4px 15px rgba(147, 147, 147, 0.72); }
  .block-item > a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 200px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 15px;
    line-height: 40px;
    font-size: 18px;
    color: rgba(117, 57, 57, 0.5); }

/*owl */
.owl-carousel .owl-stage-outer {
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px 20px; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 20px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #1abc9c; }

/*scrollBar курсор */
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #ebebeb; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #ebebeb;
  width: 5px; }

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #ebebeb; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  -webkit-border-radius: 2px;
  border-radius: 2px; }

#mCSB_1_scrollbar_vertical .mCSB_dragger {
  height: auto; }

/*scrollBar линия*/
.mCSB_outside + .mCSB_scrollTools {
  top: 10px;
  right: 0px; }

.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 0 0; }

.mCSB_scrollTools .mCSB_draggerRail {
  width: 5px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 16px;
  border-radius: 2px;
  background-color: #fafafa;
  background-color: #fafafa;
  /*filter: "alpha(opacity=40)"*/
  /*-ms-filter: "alpha(opacity=40)"*/ }

.js-ui-accordion a:hover {
  color: #1abc9c; }

.blockquote {
  border-left: 4px solid #eee;
  font-size: inherit;
  margin: 0;
  position: relative;
  margin: 5px 0 10px 0; }

.bb_quote {
  background-color: #f7f7f7;
  margin: 5px 0 10px 0; }

.ui-accordion .ui-accordion-header {
  padding: 20px 20px;
  outline: 0; }
  .ui-accordion .ui-accordion-header:hover {
    background: #1abc9c;
    color: #fff; }

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: url(images/ui-icons_ffffff_256x240.png); }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button {
  border: 1px solid #c5c5c5;
  border-left: 0 none;
  border-right: 0 none;
  border-bottom: 0 none;
  background: #f2f2f2;
  font-weight: normal;
  color: #454545; }

html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 1px solid #c5c5c5;
  border-left: 0 none;
  border-right: 0 none;
  border-bottom: 0 none;
  background: #f2f2f2;
  font-weight: normal;
  color: #454545; }

.js-ui-accordion__title {
  width: 100%;
  min-height: 57px;
  cursor: pointer;
  margin: 0;
  margin-top: 5px;
  padding: 16px 18px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  color: #333;
  font-family: "Montserrat-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  position: relative;
  z-index: 5; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active {
  border: 1px solid #1abc9c;
  background: #1abc9c;
  font-weight: normal;
  color: #fff; }

.ui-button:active, .ui-button.ui-state-active:hover {
  border: 1px solid #1abc9c;
  background: #1abc9c;
  font-weight: normal;
  color: #fff; }

#social {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
  position: relative; }
  #social::before {
    content: '';
    width: 50px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #c5c5c5; }

.social__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.social__item {
  margin: 0 25px;
  text-align: center; }

#social i {
  font-size: 40px;
  color: #4a4a4a; }
  #social i.fa-at {
    font-weight: 900; }
  #social i:hover {
    color: #1abc9c; }

#copyrights {
  background: #222222;
  padding: 20px 0;
  text-align: center; }
  #copyrights p {
    margin-bottom: 5px;
    color: #fff; }

.credits {
  color: #999; }

#copyrights a {
  color: #1abc9c; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1350px) {
  /* */ }

@media only screen and (max-width: 1200px) {
  /* */ }

@media only screen and (max-width: 1100px) {
  /* */ }

@media only screen and (max-width: 992px) {
  /* */ }

@media only screen and (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px; }
  .navbar-fixed-bottom, .navbar-fixed-top {
    position: relative; }
  .sect_1 {
    padding-top: 0; }
  .block-img {
    margin-left: 0;
    width: 100%;
    overflow: visible; }
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    padding: 0 10px !important;
    position: absolute;
    bottom: 0; }
  .owl-carousel .owl-nav button.owl-next {
    right: -15px; }
  .owl-carousel .owl-nav button.owl-prev {
    left: -15px; }
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel button.owl-dot {
    font-size: 40px;
    outline: none; }
  .owl-theme .owl-dots,
  .owl-theme .owl-nav {
    padding: 0 40px; } }

@media only screen and (max-width: 576px) {
  /* */ }

@media only screen and (max-width: 480px) {
  ol, ul {
    padding: 0; }
  .ui-accordion .ui-accordion-content {
    padding: 1em .2em; }
  .ui-accordion .ui-accordion-header {
    -webkit-border-bottom-left-radius: 0;
            border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
            border-bottom-right-radius: 0; }
  .about-me .container {
    padding-right: 0;
    padding-left: 0; } }

@media only screen and (max-width: 320px) {
  /* */ }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }
